<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  
  <!--LOGO-->
  
  <head>
      <title>ArtToolsHut</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    
      <br>
      <br>



<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
        <a [routerLink]= "['/productbybrand', 'Classmate']">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Classmate_Logo.PNG" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
      <a [routerLink]= "['/productbybrand', 'Apsara']">
            <img class="img-responsive" src="https://tse3.mm.bing.net/th?id=OIP.SPZte7QKZw8s-nbLaUdElwAAAA&pid=Api&P=0&w=304&h=96" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
      <a [routerLink]= "['/productbybrand', 'Fiber-castell']">
            <img class="img-responsive" src="https://tse4.mm.bing.net/th?id=OIP.O4WQHXDDCxvTxHcueMEH0gHaCi&pid=Api&P=0&w=442&h=152" alt="">
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
      <a [routerLink]= "['/productbybrand', 'Camlin']">
            <img class="img-responsive" src="https://lh4.googleusercontent.com/-Ea9sDk-TEJs/T3Ktd11SO-I/AAAAAAAAAeo/JsXhHtzoJYg/s800/camlin_logo.137193143_std.jpg" alt="">
        </a>
    </div>
</div>