<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  
<br>
<br>

  <div class="container">
      <thead>
              
          <h2 style ="text-align: center">Wish List Items</h2>

                  </thead>
                  <br>


                  <div class="row">
                      <div class="col-md-3 col-sm-6" *ngFor="let products of wishListItems">
                          <div class="product-grid4">
                                <a (click)="onSelect(products)">
                                    <img class="pic-1" src="http://localhost:8080/RESTAPI2018/Images/{{products.product.imageName}}" height="250px"/>
                                </a> 
                                <span class="product-new-label">New</span>
                            
                            <div class="card-body" height="250px">
                              <h3 class="card-title" style="height: 50px">{{products.product.productName}}</h3>
                              
                                <div class="price">
                                  {{products.product.productPrice | currency: 'Rs.'}}
                                </div>
                                <button (click)="onSelect(products)" class="btn btn-primary" >SHOP NOW</button>
                                <button class="del btn-danger btn-sm" (click)="deleteWishListItem(products)"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>
                        </div>
                    </div>
                  </div>  
                  </div>