<!--

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Navbar with Logo Centered Above</title>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>
<body>
  <header role="banner">
    <a href="{LINK_UNESC}" traget="_blank">
    <img id="logo-main" src="https://lh3.googleusercontent.com/zLXeuxTaI3apl_zC4kHqQfJd5R0Y_LmPGMxfTLL9xEBGhhJBMVCUcWWsv5jBfzEkyNnOwbnvdN-MDlBOEHDgy7VBRumtPURt00CEbtqtEE9J6iRhPh6YbpzhsGbA7We73w5rju-OB380DRBxq9PMH3fOWKYh7ZJFSZCcqAS38yaQMjF31gMC1x9lp7mITFQQe4SHQciv-InhWskvU0NtKsYbnIpiR27O-OaJoKuvFvqKozg8M0tt7MU4BoJGPjHqeImV4dZR5_o8hRqPlS7Gl6XexD6soqJ8DcTdPxFIGtK1DaBNMo8uMMV4e7Hi243H_ooByqcFj3QGVSarjS0EiuHUrkeECHnxHedfFDUEEyZ3rjMmS48h5rYNFS1c9OQnZ1ZbOwN8NVr_V82EipPe7Bo0mu8sYaaeTf6DrO7ndraQ-cLXGuvTDqqAoKHwmleE_AiClGPxBWuAjIyN4WxuARWrR9huweGu1mhLtTSKNO5N-FqUhekJh4FYlfr-Fw9WQRZYHn6-lCgoe4fpki9ioIUj5xStolFimZekxF2pI0RiY2Zrn49M_wcxGgXsx8Kn4oaACHeVZQAm0eWxOQeiyAaOYL_Uz6Icx5CFL9Gmqq9ITKNpwu3Yr-fODDQlPuMEgxZLDjj50znykPJOsBjiEW1IhmH6FCDIIP2uRMzUdecA-RMJpwq-KY1anznkLPc=w392-h217-no?authuser=0" width="150">
    </a>
    
  </header>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
</body>


<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

-->

<head>
  <title>ArtToolsHut</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0px;
    }
  </style>
</head>
