<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <a [routerLink]= "['/addproducts']">
                <img class="img-responsive" src="image.image2" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
          <a [routerLink]= "['/profile']">
                <img class="img-responsive" src="https://www.shareicon.net/data/512x512/2016/05/24/770107_man_512x512.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
          <a [routerLink]= "['/sellerproducts']">
                <img class="img-responsive" src="image.image1" alt="">
            </a>
        </div>
    </div>
