<!--<div class="container" align=center>-->
    <fieldset>
        <legend>Register</legend>
        <!--<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)"> -->
            Enter Id: <input type="number" name="buyerId" [(ngModel)]='buyer.buyerId'><br/>
            Enter Name: <input type="text" name="buyerName" [(ngModel)]='buyer.buyerName'><br/>
            Enter Email: <input type="text" name="buyerEmail" [(ngModel)]='buyer.buyerEmail'><br/>
            Enter Mobile: <input type="text" name="mobile" [(ngModel)]='buyer.mobile'><br/>
            Enter Login Id: <input type="text" name="loginId" [(ngModel)]='buyer.loginId'><br/>
            Enter Password: <input type="password" name="password" [(ngModel)]='buyer.password'><br/>
            Enter Colony: <input type="text" name="colony" [(ngModel)]='buyer.colony'><br/>
            Enter Town: <input type="text" name="town" [(ngModel)]='buyer.town'><br/>
            Enter City: <input type="text" name="city" [(ngModel)]='buyer.city'><br/>
            Enter PinCode: <input type="number" name="pinCode" [(ngModel)]='buyer.pinCode'><br/>
            <!--
            Select Country: <select name="country" [(ngModel)]='employee.country'><br/>
                <option value={{country.alpha3Code}} *ngFor="let country of countries">{{country.name}}</option>
            </select><br/>
            Select Department: <select name="department" [(ngModel)]='employee.department.deptId'><br/>
                <option value={{department.deptId}} *ngFor="let department of departments">{{department.deptName}}</option>
            </select><br/>
             <button (click)="registerForm()">Register</button>
         
        -->
        <button class="btn btn-primary">Register</button>
    </fieldset>
        <!--</form>
    
    </div>-->
    